:root {

  --normal-border: 1px solid rgba(9, 109, 217, 1);
  --dashed-border: 1px dashed var(--blue-5);
  --normal-border-gray: 1px solid var(--gray-5);
  --dashed-border-gray: 1px dashed var(--gray-5);
  --dashed-border-blue7: 1px dashed var(--blue-7);
  --blue-7: rgba(9, 109, 217, 1);
  --blue-6:
    rgba(24, 144, 255, 1);
  --blue-5: rgba(64, 169, 255, 1);




  --large-width: 80px;
  --large-height: 40px;
  --large-top: 16px;
  --large-left: 20px;
  --border--radius: 2px;
  --large-padding:
    8px, 16px, 8px, 16px;
  --font-size-large: 16px;
  --large-gap: 8px;
  --large-font-weight: 400;
  --gray-9:
    rgba(38, 38, 38, 1);
  --gray-1:

    rgba(255, 255, 255, 1);
  --gray-2: rgba(250, 250, 250, 1);
  --gray-3:
    rgba(245, 245, 245, 1);
  --gray-5:
    rgba(217, 217, 217, 1);
  --gray-6:
    rgba(191, 191, 191, 1);
  --medium-width: 74px;
  --medium-height: 32px;
  --medium-top: 14px;
  --medium-left: 20px;
  --border-radius-medium: 2px;
  --medium-padding:
    5px, 16px, 5px, 16px;
  /* Updated syntax for --medium-padding */
  --font-size-medium: 16px;
  --medium-gap: 8px;


  --small-width: 58px;
  --small-height: 24px;
  --small-top: 23px;
  --small-left: 20px;
  --border-radius-small: 2px;
  --small-padding:
    1px, 8px, 1px, 8px;
  /* Updated syntax for --small-padding */
  --font-size-small: 14px;
  --small-gap: 8px;

}

body {
  background-color:
    var(--gray-6);
}


.button-large-size {
  height: var(--large-height);
  width: var(--large-width);
  padding: var(--large-padding);

  font-size: var(--font-size-large);
  border: none;
  border-radius: var(--border--radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-medium-size {
  border: none;
  height: var(--medium-height);
  width: var(--medium-width);
  padding: var(--medium-padding);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-medium);

  /* ... other styles ... */
}

.button-small-size {
  border: none;
  height: var(--small-height);
  width: var(--small-width);
  padding: var(--small-padding);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-small);

}

.primary {
  background-color: var(--blue-6);
  --large-font-weight: 400;
  color: #fff;
}

.primary {
  background-color: var(--blue-6);
  color: #fff;
}

.primary:hover {
  background-color: var(--blue-5);
}

.icon-size {
  width: 12.5px;
  height: 12.5px;
  margin-right: 5px;
}

.white-icon::before {
  content: url("./Search.png");
  margin: 3px;


}

.search-button-large {
  width: 104px;
  height: 40px;
  border-radius: 2px;
}

.search-button-medium {
  width: 98px;
  height: 32px;

}

.search-button-small {
  width: 82px;
  height: 24px;
}

.black-icon::before {
  content: url("./images/black-search.png");
  margin: 3px;

}

.dark-blue-icon::before {
  content: url("./images/dark-blue-search.png");
  margin: 3px;
}

.medium-blue-icon::before {
  content: url("./images/medium-blue-search.png");
  margin: 3px;
}

.primary:active {
  background-color: var(--blue-7);
}


.secondary {
  background-color: var(--gray-1);
  color: var(--gray-9);
  border: var(--normal-border-gray);

}

.secondary:hover {
  color: var(--blue-5);
}

.secondary:active {
  border: var(--normal-border);
  color: var(--blue-7);

}

.ternary {
  background-color: var(--gray-1);
  color: var(--gray-9);
  border: var(--dashed-border-gray);
}

.ternary:hover {
  border: var(--dashed-border);
}

.ternary:active {
  border: var(--dashed-border-blue7);
}


.quaternary {
  background-color: var(--gray-6);
  color: var(--gray-9);
}

.quaternary:hover {
  background-color: var(--gray-2);
}

.quaternary:active {
  background-color: var(--gray-3);
}

.quinary {
  background-color: var(--gray-6);
  color: var(--blue-6);
}

.quinary:hover {
  color: var(--blue-5);
}

.quinary:active {
  color: var(--blue-7);
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  gap: 16px;
}

.second-div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 2rem;
}

.third-div {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

}

.first-div {
  display: flex;
  gap: 16px;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.first-div div {

  display: flex;
  gap: 16px;
}

.second-div div {
  display: flex;
  gap: 16px;
}

.third-div div {
  display: flex;
  gap: 16px;
}

.second-div .second-2 {
  margin-left: 28px;
  display: flex;
  gap: 16px;
}

.third-div .third-2 {
  margin-left: 109px;

}












.while-loading-l {
  height: 40px;
  width: 104px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.while-loading-m {
  height: 32px;
  width: 98px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.while-loading-s {
  height: 24px;
  width: 82px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  animation: spin 1s linear infinite;
  display: inline-block;

}

.loader {

  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  animation: spin 1s linear infinite;
  display: inline-block;

}

.black-loader {

  border-top: 1px solid rgba(38, 38, 38, 1);
  animation: spin 1s linear infinite;
  display: inline-block;

}

.blue-loader {
  border: none;
  border-top: 1px solid rgba(24, 144, 255, 1);
  animation: spin 1s linear infinite;
  display: inline-block;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}